/*Theme Styles */

.background-primary {
    background: #F7941E;
    /*Orange*/
}

.background-secondary {
    background: #00AEEF;
    /*Blue*/
}

.background-tertiary {
    background: #8DC63F;
    /*Green*/
}

.background-quinary {
    background: #e7e179;
}